@model List<Mladacina.Models.Visit>
@{
    ViewData["Title"] = "Patients";
    ViewData["Role"] = "Doctor";
    Patient patient = (Patient)ViewData["Patient"];
    int i = 0;
}

<div>
    <div class="w-100 mt-lg-5 container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <h3 class="role">@patient.User.FirstName @patient.User.LastName's visits</h3>
            </div>
            <div class="col-lg-3 text-right">
                <a class="btn btn-info" asp-action="Patients">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;&nbsp;Back
                </a>
                <a class="btn btn-info" asp-action="VisitCreate" asp-route-id="@patient.Id">
                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;New
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-lg-5">
        @if (Model != null && Model.Count > 0)
        {
            <table class="table table-hover mt-4" id="visitsTable">
                <thead>
                    <tr>
                        <th class="w-15">Doctor</th>
                        <th class="w-35">Sympthoms</th>
                        <th class="w-20">Diagnosis</th>
                        <th class="w-10 text-center">Date</th>
                        <th class="w-10 text-center">Healed</th>
                        <th class="w-10 text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Visit item in Model)
                    {
                        <tr class="accordion-toggle collapsed" id="accordion@(i)">
                            <td class="align-middle">@item.PatientDoctor.Doctor.User.FirstName @item.PatientDoctor.Doctor.User.LastName</td>
                            <td class="align-middle">@item.Sympthoms</td>
                            <td class="align-middle">@item.Diagnosis</td>
                            <td class="align-middle text-center">@item.DateFrom.ToNormalDate()</td>
                            <td class="align-middle text-center">
                                @if (item.DateTo.HasValue)
                                {
                                    <span>@item.DateTo.Value.ToNormalDate()</span>
                                }
                                else
                                {
                                    <span>&infin;</span>
                                }
                            </td>
                            <td class="align-middle text-right">
                                @if (!item.DateTo.HasValue)
                                {
                                    <a asp-action="FinishDiagnose" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Mark as healed">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </a>
                                }
                                <span data-toggle="collapse" data-parent="#accordion@(i)" href="#collapse@(i)">
                                    <a data-toggle="tooltip" data-placement="top" title="View prescriptions" id="viewPrescriptions">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                        <tr class="hide-table-padding">
                            <td></td>
                            <td colspan="4">
                                <div id="collapse@(i++)" class="collapse in p-3">
                                    @if (item.Prescriptions != null && item.Prescriptions.Count > 0)
                                    {
                                        <div class="row mb-1">
                                            <div class="col-3 font-weight-bold">Medicine</div>
                                            <div class="col-3 font-weight-bold">Quantity</div>
                                            <div class="col-3 font-weight-bold text-center">Taken Since</div>
                                            <div class="col-3 font-weight-bold text-center">Taken Until</div>
                                        </div>
                                        <hr />
                                        @foreach (Prescription prescription in item.Prescriptions)
                                        {
                                            string measureUnit = prescription.Medicine.Type == MedicineType.Syrup ? "ml" : "pcs";
                                            <div class="row">
                                                <div class="col-3">@prescription.Medicine.Name</div>
                                                <div class="col-3">@prescription.Medicine.Quantity @measureUnit</div>
                                                <div class="col-3 text-center">
                                                    @if (prescription.DateFrom.HasValue)
                                                    {
                                                        <span>@prescription.DateFrom.Value.ToNormalDate()</span>
                                                    }
                                                    else
                                                    {
                                                        <span>&infin;</span>
                                                    }
                                                </div>
                                                <div class="col-3 text-center">
                                                    @if (prescription.DateTo.HasValue)
                                                    {
                                                        <span>@prescription.DateTo.Value.ToNormalDate()</span>
                                                    }
                                                    else
                                                    {
                                                        <span>&infin;</span>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="m-1">
                                            No prescriptioned medicine.
                                        </div>
                                    }
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="card-body m-5">
                <h5 class="text-center m-5">Patient hasn't visited any doctor yet.</h5>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}